HCQ2/HCQ2UI_Logic/Service References/ServiceReference1/uddi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://uddi.dareway.com" xmlns:ax21="http://exception.framework.dareway.com/xsd" xmlns:ax24="http://util.framework.dareway.com/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:axis2="http://uddi_1_0.uddi.dwlesbserver.apps.dareway.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://uddi_1_0.uddi.dwlesbserver.apps.dareway.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>uddi</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.framework.dareway.com/xsd">
      <xs:complexType name="DataObject">
        <xs:complexContent mixed="false">
          <xs:extension base="xs:HashMap">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax25="http://util.framework.dareway.com/xsd" xmlns:ax23="http://exception.framework.dareway.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://uddi.dareway.com">
      <xs:import namespace="http://exception.framework.dareway.com/xsd" />
      <xs:import namespace="http://util.framework.dareway.com/xsd" />
      <xs:element name="serviceProxy">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args3" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args4" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="serviceProxyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invokeService">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invokeServiceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AppException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AppException" nillable="true" type="ax23:AppException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTargetAppsByType">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTargetAppsByTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getServiceUrl">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getServiceUrlResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TransResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="ax25:DataObject" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TransResultResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax22="http://uddi.dareway.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.framework.dareway.com/xsd">
      <xs:import namespace="http://uddi.dareway.com" />
      <xs:complexType name="AppException">
        <xs:complexContent mixed="false">
          <xs:extension base="ax22:Exception">
            <xs:sequence>
              <xs:element minOccurs="0" name="clientDesc" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="errorCode" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="invokeServiceRequest">
    <wsdl:part name="parameters" element="ns:invokeService" />
  </wsdl:message>
  <wsdl:message name="invokeServiceResponse">
    <wsdl:part name="parameters" element="ns:invokeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="serviceProxyRequest">
    <wsdl:part name="parameters" element="ns:serviceProxy" />
  </wsdl:message>
  <wsdl:message name="serviceProxyResponse">
    <wsdl:part name="parameters" element="ns:serviceProxyResponse" />
  </wsdl:message>
  <wsdl:message name="getTargetAppsByTypeRequest">
    <wsdl:part name="parameters" element="ns:getTargetAppsByType" />
  </wsdl:message>
  <wsdl:message name="getTargetAppsByTypeResponse">
    <wsdl:part name="parameters" element="ns:getTargetAppsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="AppException">
    <wsdl:part name="parameters" element="ns:AppException" />
  </wsdl:message>
  <wsdl:message name="getServiceUrlRequest">
    <wsdl:part name="parameters" element="ns:getServiceUrl" />
  </wsdl:message>
  <wsdl:message name="getServiceUrlResponse">
    <wsdl:part name="parameters" element="ns:getServiceUrlResponse" />
  </wsdl:message>
  <wsdl:message name="TransResultRequest">
    <wsdl:part name="parameters" element="ns:TransResult" />
  </wsdl:message>
  <wsdl:message name="TransResultResponse">
    <wsdl:part name="parameters" element="ns:TransResultResponse" />
  </wsdl:message>
  <wsdl:portType name="uddiPortType">
    <wsdl:operation name="invokeService">
      <wsdl:input wsaw:Action="urn:invokeService" message="axis2:invokeServiceRequest" />
      <wsdl:output wsaw:Action="urn:invokeServiceResponse" message="axis2:invokeServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="serviceProxy">
      <wsdl:input wsaw:Action="urn:serviceProxy" message="axis2:serviceProxyRequest" />
      <wsdl:output wsaw:Action="urn:serviceProxyResponse" message="axis2:serviceProxyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTargetAppsByType">
      <wsdl:input wsaw:Action="urn:getTargetAppsByType" message="axis2:getTargetAppsByTypeRequest" />
      <wsdl:output wsaw:Action="urn:getTargetAppsByTypeResponse" message="axis2:getTargetAppsByTypeResponse" />
      <wsdl:fault wsaw:Action="urn:getTargetAppsByTypeAppException" name="AppException" message="axis2:AppException" />
    </wsdl:operation>
    <wsdl:operation name="getServiceUrl">
      <wsdl:input wsaw:Action="urn:getServiceUrl" message="axis2:getServiceUrlRequest" />
      <wsdl:output wsaw:Action="urn:getServiceUrlResponse" message="axis2:getServiceUrlResponse" />
    </wsdl:operation>
    <wsdl:operation name="TransResult">
      <wsdl:input wsaw:Action="urn:TransResult" message="axis2:TransResultRequest" />
      <wsdl:output wsaw:Action="urn:TransResultResponse" message="axis2:TransResultResponse" />
      <wsdl:fault wsaw:Action="urn:TransResultAppException" name="AppException" message="axis2:AppException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="uddiSoap11Binding" type="axis2:uddiPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invokeService">
      <soap:operation soapAction="urn:invokeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceProxy">
      <soap:operation soapAction="urn:serviceProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTargetAppsByType">
      <soap:operation soapAction="urn:getTargetAppsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AppException">
        <soap:fault use="literal" name="AppException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceUrl">
      <soap:operation soapAction="urn:getServiceUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransResult">
      <soap:operation soapAction="urn:TransResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AppException">
        <soap:fault use="literal" name="AppException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="uddiSoap12Binding" type="axis2:uddiPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invokeService">
      <soap12:operation soapAction="urn:invokeService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceProxy">
      <soap12:operation soapAction="urn:serviceProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTargetAppsByType">
      <soap12:operation soapAction="urn:getTargetAppsByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AppException">
        <soap12:fault use="literal" name="AppException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceUrl">
      <soap12:operation soapAction="urn:getServiceUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransResult">
      <soap12:operation soapAction="urn:TransResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AppException">
        <soap12:fault use="literal" name="AppException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="uddiHttpBinding" type="axis2:uddiPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="invokeService">
      <http:operation location="uddi/invokeService" />
      <wsdl:input>
        <mime:content part="invokeService" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="invokeService" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceProxy">
      <http:operation location="uddi/serviceProxy" />
      <wsdl:input>
        <mime:content part="serviceProxy" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="serviceProxy" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTargetAppsByType">
      <http:operation location="uddi/getTargetAppsByType" />
      <wsdl:input>
        <mime:content part="getTargetAppsByType" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getTargetAppsByType" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceUrl">
      <http:operation location="uddi/getServiceUrl" />
      <wsdl:input>
        <mime:content part="getServiceUrl" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getServiceUrl" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransResult">
      <http:operation location="uddi/TransResult" />
      <wsdl:input>
        <mime:content part="TransResult" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="TransResult" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="uddi">
    <wsdl:port name="uddiHttpSoap11Endpoint" binding="axis2:uddiSoap11Binding">
      <soap:address location="http://58.16.86.39:7001/dwlesbserver/services/uddi.uddiHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="uddiHttpSoap12Endpoint" binding="axis2:uddiSoap12Binding">
      <soap12:address location="http://58.16.86.39:7001/dwlesbserver/services/uddi.uddiHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="uddiHttpEndpoint" binding="axis2:uddiHttpBinding">
      <http:address location="http://58.16.86.39:7001/dwlesbserver/services/uddi.uddiHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>