HCQ2/HCQ2UI_Logic/Web References/WebDataUpLoad/uddi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://uddi.dareway.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:axis2="http://uddi_1_0.uddi.dwlesbserver.apps.dareway.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://uddi_1_0.uddi.dwlesbserver.apps.dareway.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>uddi</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://uddi.dareway.com">
      <xs:element name="serviceProxy">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args3" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args4" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="serviceProxyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invokeService">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invokeServiceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTargetAppsByType">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTargetAppsByTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getServiceUrl">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getServiceUrlResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="invokeServiceRequest">
    <wsdl:part name="parameters" element="ns:invokeService" />
  </wsdl:message>
  <wsdl:message name="invokeServiceResponse">
    <wsdl:part name="parameters" element="ns:invokeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="serviceProxyRequest">
    <wsdl:part name="parameters" element="ns:serviceProxy" />
  </wsdl:message>
  <wsdl:message name="serviceProxyResponse">
    <wsdl:part name="parameters" element="ns:serviceProxyResponse" />
  </wsdl:message>
  <wsdl:message name="getTargetAppsByTypeRequest">
    <wsdl:part name="parameters" element="ns:getTargetAppsByType" />
  </wsdl:message>
  <wsdl:message name="getTargetAppsByTypeResponse">
    <wsdl:part name="parameters" element="ns:getTargetAppsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceUrlRequest">
    <wsdl:part name="parameters" element="ns:getServiceUrl" />
  </wsdl:message>
  <wsdl:message name="getServiceUrlResponse">
    <wsdl:part name="parameters" element="ns:getServiceUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="uddiPortType">
    <wsdl:operation name="invokeService">
      <wsdl:input wsaw:Action="urn:invokeService" message="axis2:invokeServiceRequest" />
      <wsdl:output wsaw:Action="urn:invokeServiceResponse" message="axis2:invokeServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="serviceProxy">
      <wsdl:input wsaw:Action="urn:serviceProxy" message="axis2:serviceProxyRequest" />
      <wsdl:output wsaw:Action="urn:serviceProxyResponse" message="axis2:serviceProxyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTargetAppsByType">
      <wsdl:input wsaw:Action="urn:getTargetAppsByType" message="axis2:getTargetAppsByTypeRequest" />
      <wsdl:output wsaw:Action="urn:getTargetAppsByTypeResponse" message="axis2:getTargetAppsByTypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getServiceUrl">
      <wsdl:input wsaw:Action="urn:getServiceUrl" message="axis2:getServiceUrlRequest" />
      <wsdl:output wsaw:Action="urn:getServiceUrlResponse" message="axis2:getServiceUrlResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="uddiSoap11Binding" type="axis2:uddiPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invokeService">
      <soap:operation soapAction="urn:invokeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceProxy">
      <soap:operation soapAction="urn:serviceProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTargetAppsByType">
      <soap:operation soapAction="urn:getTargetAppsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceUrl">
      <soap:operation soapAction="urn:getServiceUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="uddiSoap12Binding" type="axis2:uddiPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invokeService">
      <soap12:operation soapAction="urn:invokeService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceProxy">
      <soap12:operation soapAction="urn:serviceProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTargetAppsByType">
      <soap12:operation soapAction="urn:getTargetAppsByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceUrl">
      <soap12:operation soapAction="urn:getServiceUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="uddiHttpBinding" type="axis2:uddiPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="invokeService">
      <http:operation location="uddi/invokeService" />
      <wsdl:input>
        <mime:content part="invokeService" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="invokeService" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceProxy">
      <http:operation location="uddi/serviceProxy" />
      <wsdl:input>
        <mime:content part="serviceProxy" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="serviceProxy" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTargetAppsByType">
      <http:operation location="uddi/getTargetAppsByType" />
      <wsdl:input>
        <mime:content part="getTargetAppsByType" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getTargetAppsByType" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceUrl">
      <http:operation location="uddi/getServiceUrl" />
      <wsdl:input>
        <mime:content part="getServiceUrl" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getServiceUrl" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="uddi">
    <wsdl:port name="uddiHttpSoap11Endpoint" binding="axis2:uddiSoap11Binding">
      <soap:address location="http://222.85.128.67:8088/dwlesbserver/services/uddi.uddiHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="uddiHttpSoap12Endpoint" binding="axis2:uddiSoap12Binding">
      <soap12:address location="http://222.85.128.67:8088/dwlesbserver/services/uddi.uddiHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="uddiHttpEndpoint" binding="axis2:uddiHttpBinding">
      <http:address location="http://222.85.128.67:8088/dwlesbserver/services/uddi.uddiHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>